<h1 class="titulo" align="center"><font color="#9B1C26">Editando Cliente</font></h1>

<table align="center" class="titulo2">
	<tr>
		<td align="center">
			<font size="6">
<%= render 'form' %>
			</font>
		</td>
	</tr>
</table>

<table align="center" class="titulo2">
	<td>
		<font size="6">
<%= link_to 'Mostrar', @cliente %> |
<%= link_to 'Voltar', clientes_path %>
		</font>
	</td>
</table>