<h1 align="center" class="titulo"><font color="#9B1C26">Novo Comentário</font></h1>

<table align="center" class="titulo2">
	<tr>
		<td align="center">
			<font size="6">
<%= render 'form' %>
			</font>
		</td>
	</tr>
</table>

<br>

<table align="center"  class="titulo2">
	<td>
		<font size="6">
<%= link_to 'Voltar', comentarios_path %>
		</font>
	</td>
</table>	