<div class="center">
    <h2>Gerenciamento de Qualidade de Restaurantes</h2>
    <hr/>
    <br><br><br>
    <div>
        <%= image_tag("quali.jpg", :alt => "Foto Capa Qualidade Restaurantes")%>
    </div>
    <br>
</div>


  
