<h1 align="center"><font color="#9B1C26">Editing qualificacao</font></h1>

<table align="center" class="titulo2">
	<tr>
		<td align="center">
			<font size="6">
<%= render 'form' %>
			</font>
		</td>
	</tr>
</table>

<table align="center" class="titulo2">
	<td>
		<font size="6">
<%= link_to 'Mostrar', @qualificacao %> |
<%= link_to 'Voltar', qualificacoes_path %>
		</font>
	</td>
</table>