<h1 align="center" class="titulo"><font color="#9B1C26">New qualificacao</font></h1>

<br>

<table align="center">
	<tr>
		<td align="center">
			<font size="6">
<%= render 'form' %>
			</font>
		</td>
	</tr>
</table>

<br>
<br>
<br>

<table align="center">
	<td>
		<font size="6">
<%= link_to 'Voltar', qualificacoes_path %>
		</font>
	</td>
</table>